<a href="https://colab.research.google.com/github/jenius13/Kaggle-data-analysis/blob/master/%EC%95%BC%EA%B5%AC_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 데이터 분석 모듈
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime

In [0]:
result = pd.read_csv('/content/statiz_origin.csv')

In [3]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 29 columns):
Unnamed: 0    8557 non-null int64
선수            8557 non-null object
G             8557 non-null int64
타석            8557 non-null int64
타수            8557 non-null int64
득점            8557 non-null int64
안타            8557 non-null int64
2타            8557 non-null int64
3타            8557 non-null int64
홈런            8557 non-null int64
루타            8557 non-null int64
타점            8557 non-null int64
도루            8557 non-null int64
도실            8557 non-null int64
볼넷            8557 non-null int64
사구            8557 non-null int64
고4            8557 non-null int64
삼진            8557 non-null int64
병살            8557 non-null int64
희타            8557 non-null int64
희비            8557 non-null int64
타율            6557 non-null float64
출루            6957 non-null float64
장타            6557 non-null float64
OPS           6557 non-null float64
wOBA          6957 non-null float64
wRC+          6457 non-null float64
WAR+          8557 non-null float64
생일            8557 non-null object
dtypes: float64(7), int64(20), object(2)
memory usage: 1.9+ MB

In [4]:
result.head()

   Unnamed: 0        선수    G   타석   타수  ...    OPS   wOBA   wRC+   WAR+          생일
0           0  이종범94해SS  124  561  499  ...  1.033  0.462  198.3  11.77  1970-08-15
1           1  테임즈15N1B  142  595  472  ...  1.288  0.530  222.3  10.71  1986-11-10
2           2  심정수03현RF  133  601  460  ...  1.197  0.498  210.7  10.19  1975-05-05
3           3  이종범97해SS  125  577  484  ...  1.009  0.431  173.2   9.70  1970-08-15
4           4  이종범96해SS  113  525  449  ...  0.991  0.440  184.6   9.52  1970-08-15

[5 rows x 29 columns]

In [0]:
# 이름 분리 해서, '이름' column 추가
result['이름'] = result['선수'].str.findall("^[ㄱ-힣]+").apply(lambda x: x[0])

In [0]:
# 기존 '선수' column 에 있던 이름 정보 제거

result['선수'] = result.apply(lambda x:x['선수'].replace(x['이름'],''),axis=1)

In [7]:
result['선수']

0       94해SS
1       15N1B
2       03현RF
3       97해SS
4       96해SS
        ...
8552    09SRF
8553     99삼C
8554     18롯C
8555    07KRF
8556    86청1B
Name: 선수, Length: 8557, dtype: object

In [0]:
# '시즌' column 생성
result['시즌'] = result['선수'].apply(lambda x: x[:2])

# 기존 '선수' column 에 있던 시즌 정보 제거
result['선수'] = result.apply(lambda x: x['선수'].replace(x['시즌'],''), axis=1)

In [9]:
result['시즌']

0       94
1       15
2       03
3       97
4       96
        ..
8552    09
8553    99
8554    18
8555    07
8556    86
Name: 시즌, Length: 8557, dtype: object

In [0]:
# 년도를 4자리 숫자로 바꾸어주기 ex) 98 -&gt; 1998, 15 -&gt; 2015
result['시즌'] = result['시즌'].apply(lambda x: int("20"+ x) if int(x) <= 30 else int("19"+x))

In [11]:
result['시즌']

0       1994
1       2015
2       2003
3       1997
4       1996
        ...
8552    2009
8553    1999
8554    2018
8555    2007
8556    1986
Name: 시즌, Length: 8557, dtype: int64

In [12]:
result.loc[(result.이름 =='조홍석')&(result.시즌 ==2015),'생일'] = '1990-02-23'

result[(result.이름 =='조홍석')&(result.시즌 ==2015)].생일

6466    1990-02-23
Name: 생일, dtype: object

In [13]:
result.head()

   Unnamed: 0   선수    G   타석   타수  ...   wRC+   WAR+          생일   이름    시즌
0           0  해SS  124  561  499  ...  198.3  11.77  1970-08-15  이종범  1994
1           1  N1B  142  595  472  ...  222.3  10.71  1986-11-10  테임즈  2015
2           2  현RF  133  601  460  ...  210.7  10.19  1975-05-05  심정수  2003
3           3  해SS  125  577  484  ...  173.2   9.70  1970-08-15  이종범  1997
4           4  해SS  113  525  449  ...  184.6   9.52  1970-08-15  이종범  1996

[5 rows x 31 columns]

In [0]:
# 포지션
position = ['1B', '2B', '3B', 'SS', 'C', 'RF', 'LF', 'CF', 'DH']

In [0]:
# 포지션
position = ['1B', '2B', '3B', 'SS', 'C', 'RF', 'LF', 'CF', 'DH'] 

# 포지션 여부 확인
result['포지션여부'] = result['선수'].apply(lambda x : (np.isin(x[-2:], position) or np.isin(x[-1:], position))) 

# 포지션 분리
result['포지션'] = result['선수'].apply(lambda x: x[-2:] if x[-2:] in position else x[-1:])

#포지션이 기록 되어 있지 않으면, nan값 넣기 
result.loc[result['포지션여부']==False, '포지션'] = np.nan

In [20]:
result.head()

   Unnamed: 0   선수    G   타석   타수   득점  ...   WAR+          생일   이름    시즌  포지션여부  포지션
0           0  해SS  124  561  499  113  ...  11.77  1970-08-15  이종범  1994   True   SS
1           1  N1B  142  595  472  130  ...  10.71  1986-11-10  테임즈  2015   True   1B
2           2  현RF  133  601  460  110  ...  10.19  1975-05-05  심정수  2003   True   RF
3           3  해SS  125  577  484  112  ...   9.70  1970-08-15  이종범  1997   True   SS
4           4  해SS  113  525  449   94  ...   9.52  1970-08-15  이종범  1996   True   SS

[5 rows x 33 columns]

In [22]:
result['선수']

0       해SS
1       N1B
2       현RF
3       해SS
4       해SS
       ...
8552    SRF
8553     삼C
8554     롯C
8555    KRF
8556    청1B
Name: 선수, Length: 8557, dtype: object

In [0]:
# 팀 & 나이 column 생성
result['팀'] = result.apply(lambda x: x['선수'].replace(x['포지션'],'') if type(x['포지션'])==str else x['선수'], axis=1)
result['나이'] = result.apply(lambda x: x['시즌'] - int(x['생일'][:4]) + 1, axis=1)

In [26]:
result['나이']

0       25
1       30
2       29
3       28
4       27
        ..
8552    29
8553    28
8554    21
8555    38
8556    36
Name: 나이, Length: 8557, dtype: int64

In [0]:
# 선수별 고유 아이디 부여
info = result[['이름', '생일']].apply(lambda x: tuple(x), axis=1)

player_id = {}
for i,j in enumerate(info.unique()):
    player_id[j] = i
    
result['ID'] = result.apply(lambda x: player_id[tuple([x['이름'], x['생일']])], axis=1)

In [0]:
result

# numeric data로 변환
float_columns = result.iloc[:,2:27].columns
result[float_columns] = result[float_columns].astype(float).fillna(0)

In [0]:
# 필요한 features 선택
cols = ['ID', '이름', '생일', '팀', '시즌', '포지션', '나이'] + list(float_columns)
result = result[cols]

In [34]:
result.shape

(8557, 32)